<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%= render 'layouts/header' %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          Customer Dashboard
          <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
          <li class="active">
            <a href="#">
              <i class="fa fa-home"></i>
              Home Page</a>
          </li>
        </ol>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- Small boxes (Stat box) -->

        <div class="row">
          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Products (<%= @products.count %>)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @products.each do |product| %>
                    <tr>
                      <td><%= product.id %></td>
                      <td><%= product.name %></td>
                      <td><%= product.category.name %></td>
                      <td><%= product.code %></td>
                      <td><%= product.description %></td>
                      <td>
                        <%= link_to 'Add Review', new_review_path(product: product.id), class:"btn btn-primary btn-xs" %>
                      </td>

                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->

          <div class="col-md-6">
            <div class="box">
              <div class="box-header with-border">
                <h3 class="box-title">Suppliers (<%= @suppliers.count %>)</h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table class="table table-bordered table-hover">
                  <tr>
                    <th>Name</th>
                    <th>E-mail</th>
                    <th>Phone</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  <% @suppliers.each do |supplier| %>
                  <tr>
                    <td><%= supplier.name %></td>
                    <td><%= supplier.email %></td>
                    <td><%= supplier.phone %></td>
                    <td>
                      <% if supplier.active? %>
                        <span class="label label-success"><%= supplier.status.try(:upcase) %></span>
                      <% elsif supplier.disabled? %>
                        <span class="label label-warning"><%= supplier.status.try(:upcase) %></span>
                      <% else %>
                        <span class="label label-danger"><%= supplier.status.try(:upcase) %></span>
                      <% end %>
                    </td>
                    <td>
                        <%= link_to 'Add Review', new_review_path(supplier: supplier.id), class:"btn btn-primary btn-xs" %>
                    </td>

                  </tr>
                  <% end %>
                </table>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%= render 'layouts/footer' %>
    <script>
      $.widget.bridge('uibutton', $.ui.button);
    </script>
    <script>
      $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
          "paging": true,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": true,
          "autoWidth": false
        });
      });
    </script>
  </body>
